{
  "branches": ["main"],
  "tagFormat": "v${version}",
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "semantic-release-cargo",
      {
        "publish": false,
        "cargoPublish": false,
        "registryUrl": "https://crates.io"
      }
    ],
    [
      "@semantic-release/changelog",
      { "changelogFile": "CHANGELOG.md" }
    ],
    [
      "@semantic-release/git",
      {
        "assets": [
          "Cargo.toml",
          "CHANGELOG.md"
        ],
        "message": "chore(release): ${nextRelease.version} [skip ci]"
      }
    ],
    [
      "@semantic-release/exec",
      {
        "successCmd": "echo \"version=${nextRelease.version}\" >> $GITHUB_OUTPUT"
      }
    ],

    "semantic-release-github-actions-tags",
    "@semantic-release/github"
  ]
}
