site_name: 'Vencore TechDocs'
site_description: 'The Vencore TechDocs site provides documentation for the Vencore project.'

theme:
  name: 'material'

nav:
  - Home: index.md
  - Architecture: architecture.md
  - Usage: usage.md
  - Development: development.md

# https://www.mkdocs.org/user-guide/configuration
plugins:
  - techdocs-core:
      use_material_search: true
  - search:
      min-search-length: 2
      prebuild_index: true
      indexing: full
  - mermaid2:
      arguments:
        securityLevel: 'loose'
  - macros

markdown_extensions:
  - markdown_inline_mermaid
  - markdown_inline_graphviz
